@import "tailwindcss";

@font-face {
  font-family: "workSans";
  src: url(./assets/font/WorkSans-Regular.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: workSans;
  background-color: #f3e8ff;
}
